@CHARSET "ISO-8859-1";

body,td,a,div,.p {
	font-family: arial, sans-serif;
}

div,td {
	color: #000000;
}

a:link,.w,.w a:link {
	color: #0000cc;
}

a:visited {
	color: #551a8b;
}

a:active {
	color: #ff0000;
}

.genericPanel {
	border: 3px solid #66CC00;
	background-color: #99CCFF;
	padding: 5px;
	margin: 5px;
}

.gwt-ListBox {
	width: 245px;
}

.gwt-ListBox-selected {
	color: #FF3399;
}